<div class="flex flex-wrap left-0 m-0  pt-2 w-full">
  <div class="w-full h-full ">
    <div class="relative flex flex-col min-w-0 break-words w-full h-full  shadow-lg rounded">
      <div class=" py-5 flex-auto ">
        <div class="flex justify-between ">
          <h5 class="text-black-100 dark:text-Orange-200 text-2xl text-center"><span class="animate-pulse">🔥🔥🔥</span> Top Trending Now <span class="animate-pulse">🔥🔥🔥</span> </h5>
          <nav class="overflow-hidden tabs flex flex-wrap flex-col gap-0  sm:flex-row items-center justify-center
                     text-base  border-t-2 border-l-2 border-r-2 rounded-tl-xl rounded-tr-xl  border-gray-400 ">
              <button (click)="toggleTabs(1)" class="tab h-full px-6 block focus:outline-none "
                      [ngClass]="{' text-gray-600  bg-gray-300 dark:bg-black-200': openTab !== 1, 'font-bold text-black dark:text-Aqua-100 bg-transparent ': openTab === 1}">
                Table
              </button>
              <button  (click)="toggleTabs(2)" class="tab h-full px-6 block  focus:outline-none "
                      [ngClass]="{' text-gray-600  bg-gray-300 dark:bg-black-200': openTab !== 2, 'font-bold text-black dark:text-Aqua-100 bg-transparent': openTab === 2}">
                Chart
              </button>
          </nav>  
          
        </div>
                
        <div class="tab-content tab-space overflow-scroll no-scrollbar no-scrollbar::-webkit-scrollbar
                    border-2 border-gray-400 rounded-tr-none rounded-2xl">
          <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
            <div class="-my-2 py-2 sm:-mx-6 sm: lg:-mx-8 pr-10 lg:px-8">
              <div class=" shadow  shadow-dashboard px-2 pt-3 rounded-bl-lg rounded-br-lg">
                <table class="w-full font-normal text-sm mb-0 table-auto text-left ">
                  <thead>
                    <tr class="px-0 py-3 border-b-2  text-center leading-4 text-gray-700 dark:text-gray-400 tracking-wider border-gray-300">
                      <th class="">#</th>
                      <th class="">Coin</th>
                      <th class="">Price</th>
                      <th class="">1h</th>
                      <th class="">24h</th>
                      <th class="">24h volume</th>
                      <th class="">Mkt Cap</th>
                      <th class="">last 7d </th>
                    </tr>
                  </thead>
                  <colgroup><col style="width: 20px;"><col style="width: 81px;"><col style="width: 278px;"><col style="width: 228px;"><col style="width: 70px;"><col style="width: 70px;"><col style="width: 70px;"><col style="width: 155px;"><col style="width: 155px;"><col style="width: 143px;"></colgroup>
                  <tbody  class=" text-gray-700 dark:text-gray-400">
                    
                    <tr *ngFor="let currency of topCurrencies ; let i = index" class="">
                      <td class="  py-4 px-2 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center text-center text-gray-700 dark:text-gray-400">
                          <div>
                            <div class="text-sm leading-5 ">{{ i + 1 }}</div>
                          </div>
                        </div>
                      </td>	
                      <td class="py-4 px-2 whitespace-no-wrap border-b text-center border-gray-500">
                        <div class="flex flex-row justify-between items-center gap-5">
                          <img class="flex h-10 w-10 rounded-full" src="{{currency?.img_url}}"/> 
                          <div class="flex text-sm leading-5 text-left text-Aqua-100 font-semibold uppercase ">{{currency.code}}</div>
                        </div>
                        
                      </td>				
                      <td class=" mr-2 py-4 px-4 whitespace-no-wrap border-b text-center border-gray-500">
                        <div class="text-sm leading-5 ">{{currency?.price_usd | currency: '$':'symbol':'.2-6'}}</div>
                      </td>
                      <td class="py-4 px-2 text-center border-b  border-gray-500 text-sm leading-5">
                        <span [ngClass]="{'text-green-400' : currency.p1h > 0 , 'text-red-400' : currency.p1h < 0  }" >{{currency?.p1h}}%</span></td>
                      <td class="py-4 px-2 text-center border-b  border-gray-500 text-sm leading-5">
                        <span [ngClass]="{'text-green-400' : currency.p24 > 0 , 'text-red-400' : currency.p24 < 0  }" >{{currency?.p24 }}%</span></td>
                      
                      <td class="py-4 px-2 text-center whitespace-no-wrap border-b border-gray-500  text-sm leading-5">
                        {{ currency?.v24 | currency: '$'}}</td>
                      <td class="py-4 px-2 text-center whitespace-no-wrap  border-b border-gray-500 text-sm leading-5">
                        {{ currency?.market_cap_usd | currency: '$' }}
                      </td>
                      <td class="chart-cell h-16 py-0 px-2 text-center whitespace-no-wrap  border-b border-gray-500 text-sm leading-5">
                        <app-chart-currency  class="h-16 object-fill -top-3 relative " [currency]="currency" [justLine]="true"></app-chart-currency>
                      </td>
                    </tr>
                  
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
          <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}" class="mt-5">
           <top-currency-chart class=" mt-5"></top-currency-chart>
          </div>         
        </div>
      </div>
    </div>

    
  </div>
</div>