<div class="flex bg-gray-300 dark:bg-gray-800 w-full  h-20   px-6 py-0.5 sm:hidden justify-between text-gray-font fixed bottom-0 shadow-lg z-40">
	<nav class="flex justify-between w-full">
		<a
			href="/docs"
			class="justify-center inline-block text-center pt-2 pb-1 w-full focus:text-teal-500 hover:text-teal-500 "
		>
			<svg
				viewBox="0 0 24 24"
				class="h-10 w-10 inline-block mb-1 rounded-xl bg-gradient-to-br from-blue-800 to-rose-500 ring-offset-4"
			>
				<path
					d="M8 9a1 1 0 011-1h8a1 1 0 011 1v7.5a1.5 1.5 0 01-1.5 1.5h-7A1.5 1.5 0 018 16.5V9z"
					fill="#6EE7B7"
				></path>
				<path
					d="M15 7a1 1 0 00-1-1H7a1 1 0 00-1 1v9.5A1.5 1.5 0 007.5 18H16v-.085a1.5 1.5 0 01-1-1.415V7z"
					fill="#ECFDF5"
				></path>
				<path fill="#A7F3D0" d="M8 8h5v4H8zM8 14h5v2H8z"></path>
			</svg>
			<span class="tab tab-home block text-xs text-gray-700 dark:text-white">
				News
			</span>
		</a>
		<a
			href="/docs"
			class=" justify-center inline-block text-center pt-2 pb-1 w-full focus:text-teal-500 hover:text-teal-500 rounded-full"
		>
			<svg
				viewBox="0 0 24 24"
				class="h-10 w-10 inline-block mb-1 rounded-full bg-gradient-to-br from-red-500 to-rose-500"
			>
				<circle cx="12" cy="12" r="7" fill="#F3E8FF"></circle>
				<path
					d="M14.52 11.136a1 1 0 010 1.728l-3.016 1.759A1 1 0 0110 13.759v-3.518a1 1 0 011.504-.864l3.015 1.76z"
					fill="#C084FC"
				></path>
			</svg>
			<span class="tab tab-home block text-xs text-gray-700 dark:text-white">
				Media
			</span>
		</a>
	</nav>
</div>;
