<!-- <div [articles]="articles" class=" w-full  sm:border-r-1 border-gray-400">
    <!-- header -->
    <div class="flex sticky   -top-2 z-10 justify-between  border-b-2 border-gray-400 -mb-px -mt-0.5 bg-white dark:bg-black-300">
        <!-- <select  [(ngModel)]="selectedType" (change)="selectChange()" class="appearance-none block bg-transparent rounded pr-7 py-1 outline-none border-transparent hover:border-gray-600 text-gray-500 font-medium text-sm focus:outline-none focus:text-gray-900 dark:focus:outline-none dark:focus:text-gray-100 transition-colors duration-200">
            <option class="py-1 " selected="true" value="All" >All</option>
            <option class="py-1 " value="news" >News</option>
            <option class="py-1 " value="media">Media</option>
            <option class="py-1 " value="category">By Category</option>
        </select> -->
        <!-- <search-input (searchEvent)=searchChange($event) ></search-input>
    </div>
    <div class="p-0 w-full">        
        <article-card  *ngFor="let article of articles | SearchFilter: searchTerm" [article]="article" (articleClick)="showArticle($event)" [source]="article.source" class="article-card dark:bg-black-300 opacity-10">
        </article-card> 
        <div *ngIf="!articles"> No articles found to your search</div>
    </div> -->
    <!-- <tr  let even = even; let odd = odd" 
    [ngClass]="{ odd: odd, even: even }">
    <td>{{hero.name}}</td>
    </tr> -->
</div> -->
